.type{
	width: 100%;
	height: 100%;
	&-01{
       background: url('../assets/images/ssq.png') no-repeat;
       background-size: 100% auto;
    }
    &-03{
       background: url('../assets/images/3d.png') no-repeat;
       background-size: 100% auto;
    }
    &-50{
       background: url('../assets/images/dlt.png') no-repeat;
       background-size: 100% auto;
    }
    &-52{
       background: url('../assets/images/p5.png') no-repeat;
       background-size: 100% auto;
    }
    &-53{
       background: url('../assets/images/p3.png') no-repeat;
       background-size: 100% auto;
    }
}